---
- name: RESTART_HERE
  ansible.builtin.meta: noop

- name: Update APT package cache
  apt:
    update_cache: yes
  become: true

- name: Install Go 1.24.6 (simple, safe, working)
  become: yes
  block:
    - name: Download and install Go in one step
      ansible.builtin.shell: |
        curl -fsSL https://dl.google.com/go/go1.24.6.linux-amd64.tar.gz | \
        sudo tar -xz -C /usr/local
      args:
        creates: /usr/local/go/bin/go

    - name: Create symlink in /usr/local/bin
      ansible.builtin.file:
        src: /usr/local/go/bin/go
        dest: /usr/local/bin/go
        state: link
        force: yes

- name: Deploy SR-IOV Network Operator
  block:
    - name: Install git (if not already installed)
      ansible.builtin.package:
        name: git
        state: present   

    - name: Clean up previous SR-IOV Network Operator directory if any
      ansible.builtin.file:
        path: /root/sriov-network-operator
        state: absent

    - name: Clone SR-IOV Network Operator
      ansible.builtin.git:
        repo: https://github.com/k8snetworkplumbingwg/sriov-network-operator.git
        dest: /root/sriov-network-operator
        clone: yes
        version: master

    - name: Install kubernetes Python library (required for k8s modules)
      ansible.builtin.pip:
        name: kubernetes
        state: present
        executable: /usr/bin/pip3
      become: yes
  
    - name: Create namespace sriov-network-operator
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: sriov-network-operator
        state: present

    - name: Wait 10 seconds 
      pause:
        seconds: 10

    - name: Deploy SR-IOV Operator via Make
      ansible.builtin.shell: |
        make deploy-setup-k8s
      args:
        chdir: /root/sriov-network-operator

- name: Verify SR-IOV Network Operator deployment
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: sriov-network-operator
  register: sriov_pods

- name: Debug deployed pods
  ansible.builtin.debug:
    var: sriov_pods.resources