---
- name: RESTART_HERE
  ansible.builtin.meta: noop

- name: Update APT package cache
  apt:
    update_cache: yes
  become: true

- name: Install Go
  become: yes
  block:
    - name: Upgrade urllib3 to fix HTTPS bug (Python 3.13 + Ansible)
      ansible.builtin.pip:
        name: urllib3
        state: latest
        extra_args: --break-system-packages
      become: yes

    - name: Download Go (urllib3 fixed)
      ansible.builtin.get_url:
        url: https://dl.google.com/go/go1.24.6.linux-amd64.tar.gz
        dest: /tmp/go1.24.6.linux-amd64.tar.gz
        mode: '0644'
        timeout: 60
        checksum: sha256:2b7d5e7d6c4d2c8d9f8f4b0c5d2e1f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9
      become: yes
      register: go_download

    - name: Extract Go to /usr/local
      ansible.builtin.unarchive:
        src: /tmp/go1.24.6.linux-amd64.tar.gz
        dest: /usr/local
        remote_src: yes
        creates: /usr/local/go
      when: go_download.changed

    - name: Create GOPATH directory
      ansible.builtin.file:
        path: /opt/gopath
        state: directory
        mode: '0755'

    - name: Set up Go environment via profile script
      ansible.builtin.copy:
        content: |
          export GOROOT=/usr/local/go
          export GOPATH=/opt/gopath
          export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
        dest: /etc/profile.d/golang.sh
        mode: '0755'

    - name: Create symbolic link from /usr/local/go/bin/go to /usr/local/bin/go
      ansible.builtin.file:
        src: /usr/local/go/bin/go
        dest: /usr/local/bin/go
        state: link

    - name: Clean up downloaded archive
      ansible.builtin.file:
        path: /tmp/go1.24.6.linux-amd64.tar.gz
        state: absent

- name: Deploy SR-IOV Network Operator
  block:
    - name: Install git (if not already installed)
      ansible.builtin.package:
        name: git
        state: present   

    - name: Clean up previous SR-IOV Network Operator directory if any
      ansible.builtin.file:
        path: /root/sriov-network-operator
        state: absent

    - name: Clone SR-IOV Network Operator
      ansible.builtin.git:
        repo: https://github.com/k8snetworkplumbingwg/sriov-network-operator.git
        dest: /root/sriov-network-operator
        clone: yes
        version: master

#    - name: Install Go dependency for sriov-network-operator
#      ansible.builtin.shell: |
#        /usr/local/go/bin/go get github.com/k8snetworkplumbingwg/sriov-network-operator
#      args:
#        chdir: /root/sriov-network-operator

#    - name: Ensure python3-pip is installed
#      ansible.builtin.package:
#        name: python3-pip
#        state: present

#    - name: Install required Python Kubernetes library
#      ansible.builtin.pip:
#        name: kubernetes
#       state: present
#        executable: pip3

#    - name: Ensure cert-manager is installed
#      kubernetes.core.k8s:
#        state: present
#        src: https://github.com/jetstack/cert-manager/releases/download/v1.3.0/cert-manager.yaml


#    - name: Wait until cert-manager pods are ready
#      kubernetes.core.k8s_info:
#        kind: Pod
#        namespace: cert-manager
#        label_selectors:
#          - app=cert-manager
#      register: cert_manager_pods
#      until: cert_manager_pods.resources | length > 0 and
#             (cert_manager_pods.resources
#               | map(attribute='status.containerStatuses')
#               | map('map', attribute='ready')
#               | map('min')
#               | min)
#      retries: 30
#      delay: 10

    - name: Create namespace sriov-network-operator
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: sriov-network-operator
        state: present

    - name: Wait 10 seconds 
      pause:
        seconds: 10

    - name: Deploy SR-IOV Operator via Make
      ansible.builtin.shell: |
        make deploy-setup-k8s
      args:
        chdir: /root/sriov-network-operator

- name: Verify SR-IOV Network Operator deployment
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: sriov-network-operator
  register: sriov_pods

- name: Debug deployed pods
  ansible.builtin.debug:
    var: sriov_pods.resources