---
- name: Load active 5G profile variables
  ansible.builtin.include_vars:
    file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"

- name: Assert 5G profile is loaded
  ansible.builtin.assert:
    that:
      - slices is defined
      - ues is defined
    fail_msg: >
      5G profile not loaded.
      Expected group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yml

- name: Start UE "{{ ue }}" via jump host
  shell: ssh root@{{ ue }} 'start.sh -F "{{ slices | selectattr("name","equalto",ues[ue].slice) | map(attribute="dnn") | first }}"'
  ignore_errors: {{ ignore_errors }}