---
- name: Connect UE to 5G network
  include_role:
    name: r2lab/ue/connect
  vars:
    # On passe ue_item au rôle car c'est ce qu'il cherche dans son conditional check
    ue_item: "{{ ue_item }}" 
  ignore_errors: "{{ ignore_errors }}"

- name: Retrieve wwan0 IP for UE
  # On délègue bien l'exécution à l'UE réel (le qhat)
  shell: ip -4 addr show wwan0 | awk '/inet / {print $2}' | cut -d/ -f1
  delegate_to: "{{ ue_item }}"
  register: ue_ip_cmd
  until: ue_ip_cmd.stdout != ""
  retries: 10
  delay: 2
  changed_when: false
  ignore_errors: "{{ ignore_errors }}"

- name: Build dict ue_ips
  set_fact:
    ue_ips: "{{ ue_ips | default({}) | combine({ ue_item: ue_ip_cmd.stdout }) }}"
  when: ue_ip_cmd.stdout != ""

- name: Run uplink iperf from {{ ue_target }}
  shell: iperf3 -B {{ ue_ip_cmd.stdout }} -c {{ core_ip }} -t {{ duration }} -J > /tmp/log_iperf_{{ ue_target }}_up.json
  delegate_to: "{{ ue_target }}"
  ignore_errors: "{{ ignore_errors }}"
  when: ue_ip_cmd.stdout != ""

- name: Pause between tests
  pause:
    seconds: "{{ sleep }}"

- name: Run downlink iperf from {{ ue_target }}
  shell: iperf3 -B {{ ue_ip_cmd.stdout }} -c {{ core_ip }} -t {{ duration }} -R -J > /tmp/log_iperf_{{ ue_target }}_down.json
  delegate_to: "{{ ue_target }}"
  ignore_errors: "{{ ignore_errors }}"
  when: ue_ip_cmd.stdout != ""

- name: Pause between UEs
  pause:
    seconds: "{{ sleep }}"
