---
# Display iPerf parameters before launching the client
- name: Display iPerf parameters for {{ current_ue }}
  debug:
    msg:
      - "--- IPERF3 CONFIGURATION ---"
      - "UE Host: {{ current_ue }}"
      - "Port: {{ iperf_port }}"
      - "Binding to Local IP: {{ ue_ip_cmd.stdout | default('NOT FOUND') }}"
      - "Connecting to Core IP: {{ core_ip }}"

# Run Uplink test on UE
- name: Run uplink iperf from {{ current_ue }}
  shell: |
    iperf3 -p {{ iperf_port }} -B {{ ue_ip_cmd.stdout }} -c {{ core_ip }} -t {{ duration }} -J --timeout 20 > /tmp/log_iperf_{{ current_ue }}_up.json
  delegate_to: "{{ current_ue }}"
  ignore_errors: "{{ ignore_task_errors | default(false) }}"
  when: ue_ip_cmd.stdout is defined and ue_ip_cmd.stdout != ""

- pause:
    seconds: "{{ sleep }}"

# Run Downlink test on UE
- name: Run downlink iperf from {{ current_ue }}
  shell: |
    iperf3 -p {{ iperf_port }} -B {{ ue_ip_cmd.stdout }} -c {{ core_ip }} -t {{ duration }} -R -J --timeout 20 > /tmp/log_iperf_{{ current_ue }}_down.json
  delegate_to: "{{ current_ue }}"
  ignore_errors: "{{ ignore_task_errors | default(false) }}"
  when: ue_ip_cmd.stdout is defined and ue_ip_cmd.stdout != ""

# Fetch JSON results from UE
- name: Fetch uplink JSON results for {{ current_ue }}
  fetch:
    src: "/tmp/log_iperf_{{ current_ue }}_up.json"
    dest: "{{ playbook_dir }}/results/{{ current_ue }}_log_ul_test.json"
    flat: yes
  delegate_to: "{{ current_ue }}"
  ignore_errors: true

- name: Fetch downlink JSON results for {{ current_ue }}
  fetch:
    src: "/tmp/log_iperf_{{ current_ue }}_down.json"
    dest: "{{ playbook_dir }}/results/{{ current_ue }}_log_dl_test.json"
    flat: yes
  delegate_to: "{{ current_ue }}"
  ignore_errors: true

# Extract Uplink average throughput locally
- name: Extract Uplink average throughput for {{ current_ue }}
  local_action:
    module: shell
    cmd: "jq '.end.sum_sent.bits_per_second' {{ playbook_dir }}/results/{{ current_ue }}_log_ul_test.json"
  register: ul_raw_value
  changed_when: false
  ignore_errors: true

- name: Print Uplink Mbps results for {{ current_ue }}
  debug:
    msg: "UE {{ current_ue }} Uplink Average Throughput: {{ (ul_raw_value.stdout | default(0) | float / 1000000) | round(2) }} Mbps"
  when: ul_raw_value.stdout is defined and ul_raw_value.stdout != ""
