---
- name: Initialize ue_ips dictionary
  set_fact:
    ue_ips: {}

- name: Connect all qhat UEs sequentially
  include_tasks: connect_ue.yml
  loop: "{{ groups['qhats'] }}"
  loop_control:
    loop_var: current_ue
  vars:
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"
