---
- name: Set defaults and initialize ue_ips dictionary
  set_fact:
    ue_ips: {}

- name: Connect all qhat UEs sequentially
  include_tasks: connect_ue.yml
  loop: "{{ groups['qhats'] }}"
  loop_control:
    loop_var: current_ue
    index_var: ue_index # Use index (0, 1, 2...)
  vars:
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"
    # Each UE gets a unique port: 5201, 5202, 5203...
    iperf_port: "{{ 5201 + ue_index }}"
