---
- name: Connect all qhat UEs sequentially
  include_tasks: connect_single_ue.yml
  loop: "{{ groups['qhats'] }}"
  loop_control:
    loop_var: ue
  vars:
    ue: "{{ ue }}"
    duration: "{{ duration | default(10) }}"
    sleep: "{{ sleep | default(5) }}"
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"
    ignore_errors: "{{ ignore_errors | default(true) }}"
