---
- name: Set defaults and initialize ue_ips dictionary
  set_fact:
    ue_ips: {}
    ignore_task_errors: true
    target_server: "{{ hostvars[groups['core_node'][0]].ip }}"
    duration: "{{ iperf_duration | default(30) }}"
    sleep: "{{ iperf_sleep | default(5) }}"

- name: Connect all qhat UEs sequentially
  include_tasks: connect_ue.yml
  loop: "{{ groups['qhats'] }}"
  loop_control:
    loop_var: current_ue
    index_var: ue_index
  vars:
    target_server: "{{ hostvars[groups['core_node'][0]].ip }}"
    iperf_port: "{{ 5201 + ue_index }}"
    ignore_task_errors: true

- name: Filter out UEs without IP and warn
  set_fact:
    valid_ue_list: >-
      {{
        groups['qhats']
        | select('in', ue_ips.keys())
        | list
      }}
  register: ue_filter_result

- name: Warn about UEs without IP
  debug:
    msg: "Warning: UE {{ item }} has no IP and will be skipped in iperf tests"
  loop: "{{ groups['qhats'] | difference(valid_ue_list) }}"
  when: (groups['qhats'] | difference(valid_ue_list)) | length > 0


- name: Execute iperf tests for all connected UEs
  include_tasks: iperf_execution.yml
  loop: "{{ valid_ue_list }}"
  loop_control:
    loop_var: current_ue
    index_var: ue_index
  vars:
    ue_ip: "{{ ue_ips[current_ue] }}"
    iperf_port: "{{ 5201 + ue_index }}"
    target_server: "{{ hostvars[groups['core_node'][0]].ip }}"
    duration: "{{ iperf_duration | default(12) }}"
    sleep: "{{ iperf_sleep | default(5) }}"
    ignore_task_errors: true
    sleep: 2
