---
- set_fact:
    duration: "{{ duration | default(10) }}"
    sleep: "{{ sleep | default(5) }}"
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"
    ignore_errors: "{{ ignore_errors | default(true) }}"

- name: Connect all qhat UEs sequentially
  include_tasks: connect_ue.yml
  vars:
    ue_list: "{{ groups['qhats'] }}"
    core_ip: "{{ core_ip }}"
    duration: "{{ duration }}"
    sleep: "{{ sleep }}"
    ignore_errors: "{{ ignore_errors }}"
