apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: oail1
spec:
  selector:
    app: alertmanager
  ports:
    - port: 9093
      targetPort: 9093
      name: web
  type: ClusterIP
