service:
  enabled: true
  type: NodePort
  nodePort: {{ monitoring_grafana_node_port }}

adminUser: "{{ monitoring_grafana_admin_user }}"
adminPassword: "{{ monitoring_grafana_admin_password }}"

nodeSelector:
  {{ monitoring_node_label_key }}: "{{ monitoring_node_label_value }}"

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

{% if monitoring_persistence_enabled | bool %}
persistence:
  enabled: true
  storageClassName: "{{ monitoring_storage_class }}"
  size: "{{ monitoring_grafana_storage_size }}"
{% endif %}

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: "http://{{ monitoring_prometheus_service_name }}.{{ monitoring_namespace }}.svc:9090"
        isDefault: true
        uid: prometheus
        editable: true
        jsonData:
          timeInterval: "{{ monitoring_interval }}"

grafana.ini:
  dashboards:
    min_refresh_interval: 1s
  users:
    default_theme: light
    viewers_can_edit: true
