apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ monitoring_grafana_dashboard_configmap }}"
  namespace: "{{ monitoring_namespace }}"
  labels:
    grafana_dashboard: "1"
data:
  "{{ monitoring_grafana_dashboard_file }}": |-
{{ lookup('file', monitoring_grafana_dashboard_source) | indent(4, true) }}
