apiVersion: v1
kind: ConfigMap
metadata:
  name: open5gs-scenario
  namespace: {{ open5gs_ns }}
data:
  plmn.yaml: |
    mcc: "{{ fiveg_profile_data.plmn.mcc }}"
    mnc: "{{ fiveg_profile_data.plmn.mnc }}"
    tac: "{{ fiveg_profile_data.plmn.tac }}"
  slices.yaml: |
{% for s in fiveg_profile_data.slices %}
    - name: "{{ s.name }}"
      sst: "{{ s.sst }}"
      sd: "{{ s.sd | default('') }}"
      dnn: "{{ s.dnn }}"
{% endfor %}
  ues.yaml: |
{% for ue_name, ue_val in fiveg_profile_data.ues.items() %}
    {{ ue_name }}:
      imsi_suffix: "{{ ue_val.imsi_suffix }}"
      slice: "{{ ue_val.slice }}"
{% endfor %}
