---
- name: Define rru variable globally for this role
  ansible.builtin.set_fact:
    rru: "{{ hostvars[groups['faraday'][0]].rru }}"

- name: (POS) Free any existing allocation for {{ node }}
  shell: pos allocations free -k "{{ node }}"

- name: (POS) Allocate {{ node }} 
  shell: pos allocations allocate "{{ node }}"

- name: Set POS image command for RAN {{ node }}
  ansible.builtin.set_fact:
    pos_image_cmd: >-
      {% if rru in ['benetel1', 'benetel2'] %}
        {% if ran_boot_mode == 'disk' %}
          pos node image {{ node }} boot-local
        {% else %}
          pos nodes image --staging {{ node }} {{ pos_rt_image }}
        {% endif %}
      {% else %}
        pos node image --staging {{ node }} {{ pos_image }}
      {% endif %}
  when: node in groups['ran_node']

- name: Set POS image command for {{ node }}
  ansible.builtin.set_fact:
    pos_image_cmd: >-
      pos nodes image --staging {{ node }} {{ pos_image }}
  when: node not in groups['ran_node']

- name: (POS) Flash image {{ pos_image_cmd }} to {{ node }}
  ansible.builtin.shell: "{{ pos_image_cmd }}"

- name: (POS) Set boot parameters on node {{ node }} for RRU {{ rru }}
  ansible.builtin.shell: >-
    {% if rru in ['benetel1', 'benetel2'] %}
    # only useful for live image
    # when boot-local, grub parameters are the ones in the default ilo6 grub
    pos nodes bootparameter {{ node }} {{ boot_parameters_rt }}
    {% elif node in ['sopnode-f1', 'sopnode-f2'] %}
    pos nodes bootparameter {{ node }} {{ boot_parameters_f1f2 }}
    {% else %}
    pos nodes bootparameter {{ node }} {{ boot_parameters_f3 }}
    {% endif %}
  when: node in groups['ran_node']

- name: (POS) Reset {{ node }}
  shell: pos nodes reset "{{ node }}"

- name: (POS) Wait for SSH to be available on {{ node }}
  wait_for:
    host: "{{ node }}"
    port: 22
    timeout: 300

- name: Bootstrap {{ node }} if RAN node for Benetel
  ansible.builtin.shell: >-
    {% if rru in ['benetel1', 'benetel2'] and ran_boot_mode == 'disk' %}
    pos node bootstrap {{ node }}
    {% endif %}
  when: node in groups['ran_node']


