---
- name: (POS) Free any existing allocation for {{ node }}
  shell: pos allocations free -k "{{ node }}"

- name: (POS) Allocate {{ node }} 
  shell: pos allocations allocate "{{ node }}"

- name: (POS) Flash image to {{ node }}
  shell: >
    pos nodes image --staging "{{ node }}" "{{ pos_image }}"

- name: (POS) Set boot parameters on {{ node }} for RRU {{ hostvars[groups['faraday'][0]].rru }}
  shell: >
    pos nodes bootparameter {{ node }} {{ boot_parameters }}
  when: rru in ['jaguar', 'panther'] and node in ['sopnode-f1', 'sopnode-f2']

- name: (POS) Set boot parameters on sopnode-f3 for RRU {{ hostvars[groups['faraday'][0]].rru }}
  shell: >
    pos nodes bootparameter {{ node }} {{ boot_parameters_f3 }}
  when: rru in ['jaguar', 'panther'] and node in ['sopnode-f3']

- name: (POS) Reset {{ node }}
  shell: pos nodes reset "{{ node }}"

- name: (POS) Wait for SSH to be available on {{ node }}
  wait_for:
    host: "{{ node }}"
    port: 22
    timeout: 300
