---
- name: Clone oai5g-rru repo
  ansible.builtin.git:
    repo: "{{ repo_url }}"
    dest: "{{ repo_dest }}"
    version: main
    update: yes
    force: yes

- name: Restore prepare-demo-oai.sh script in {{ repo_dest }}
  ansible.builtin.command: >
    cp --preserve=all "{{ repo_dest }}/testing/prepare-demo-oai.sh" "{{ dest_dir }}/"

- name: Update HOST_GNB variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^HOST_GNB='
    line: "HOST_GNB=\"{{ ansible_hostname }}\""
    backrefs: true

- name: Update TAG_OAI5G_RRU variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^TAG_OAI5G_RRU='
    line: "TAG_OAI5G_RRU=\"{{ tag_oai5g_rru }}\""
    backrefs: true

- name: Update REPO_OAI5G_RRU variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^REPO_OAI5G_RRU='
    line: "REPO_OAI5G_RRU=\"{{ repo_oai5g_rru }}\""
    backrefs: true

- name: Update TAG_OAI_CN5G_FED variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^TAG_OAI_CN5G_FED='
    line: "TAG_OAI_CN5G_FED=\"{{ tag_oai_cn5g_fed }}\""
    backrefs: true

- name: Update REPO_OAI_CN5G_FED variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^REPO_OAI_CN5G_FED='
    line: "REPO_OAI_CN5G_FED=\"{{ repo_oai_cn5g_fed }}\""
    backrefs: true

- name: Update LOCAL_INTERFACE variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^LOCAL_INTERFACE='
    line: "LOCAL_INTERFACE=\"{{ nic_interface }}\""
    backrefs: true

- name: Update RRU variable with {{ rru }} in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ repo_dest }}/prepare-demo-oai.sh"
    regexp: '^RRU='
    line: "RRU=\"{{ rru }}\""
    backrefs: true

- name: Run prepare-demo-oai.sh to pull & configure OAI charts
  ansible.builtin.command: "{{ prepare-demo_path }} -a -R {{ rru }} -F {{ conf }}"
  args:
    chdir: "{{ repo_dest }}"
  register: ran_script
  changed_when: "'OAI5G charts are now configured' in ran_script.stdout"

- name: Ensure Helm is installed, useful for demo-oai.sh script
  ansible.builtin.shell: |
    if ! command -v helm >/dev/null 2>&1; then
      curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
    fi
  args:
    executable: /bin/bash
  become: true

- name: Run demo-oai.sh start-cn to launch OAI CN pods
  ansible.builtin.command: "{{ script_path }} -a -R {{ rru }} -F {{ conf }}"
  args:
    chdir: "{{ repo_dest }}"
  register: ran_script
  changed_when: "'OAI5G charts are now configured' in ran_script.stdout"

