---
# Cleanup if the node was already part of a cluster
- name: Check if node is already part of a Kubernetes cluster
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf

- name: Reset node if already part of a cluster
  command: kubeadm reset -f
  when: kubelet_conf.stat.exists
  ignore_errors: true

- name: Remove Kubernetes CNI configuration
  file:
    path: /etc/cni/net.d
    state: absent
  when: kubelet_conf.stat.exists

- name: Remove kubelet data directory
  file:
    path: /var/lib/kubelet
    state: absent
  when: kubelet_conf.stat.exists

- name: Restart container runtime (containerd)
  service:
    name: containerd
    state: restarted
  when: kubelet_conf.stat.exists
  ignore_errors: true


# Base setup
- name: Ensure .kube directory exists on worker node
  file:
    path: /root/.kube
    state: directory
    mode: '0755'

- name: Fetch admin.conf from master to control machine
  fetch:
    src: /etc/kubernetes/admin.conf
    dest: ./admin.conf
    flat: yes
  delegate_to: "{{ groups['core_node'][0] }}"
  when: inventory_hostname == groups['k8s_workers'][0]

- name: Copy admin.conf from control machine to worker node
  copy:
    src: ./admin.conf
    dest: /root/.kube/config
    mode: '0644'
  become: true


# Retrieve the join command
- name: Read kubeadm join command from file
  set_fact:
    kubeadm_join_command: "{{ lookup('file', '/tmp/kubeadm_join_command.txt') }}"

- name: Debug join command
  debug:
    var: kubeadm_join_command

- name: Join the node to the cluster
  command: "{{ kubeadm_join_command }} --ignore-preflight-errors=SystemVerification --v=5"

- name: Detect if realtime setup is needed
  set_fact:
    is_rt: "{{ (hostvars[groups['faraday'][0]].rru in ['benetel1', 'benetel2']) and (inventory_hostname == groups['ran_node'][0]) }}"

- name: Configure kubelet if needed
  copy:
    content: |
      apiVersion: kubelet.config.k8s.io/v1beta1
      kind: KubeletConfiguration
      cgroupDriver: systemd
      cpuManagerPolicy: static
      cpuManagerPolicyOptions:
        full-pcpus-only: "true"
      reservedSystemCPUs: 0-5
      topologyManagerPolicy: best-effort
      failSwapOn: false
      containerLogMaxSize: 50Mi
      featureGates:
        CPUManager: true
        CPUManagerPolicyOptions: true
        CPUManagerPolicyBetaOptions: true
    dest: /var/lib/kubelet/config.yaml
    owner: root
    group: root
    mode: '0644'
  notify: restart kubelet
  when: is_rt

- name: Redémarrer kubelet pour appliquer la configuration
  systemd:
    name: kubelet
    state: restarted
  when: is_rt

# Then check if reservedSystemCPUs is indeed set to 0-5
- name: Ensure that config.yaml file exists on the worker node
  stat:
    path: /var/lib/kubelet/config.yaml
  register: kubelet_config_file
  when: is_rt
  
- name: Check if reservedSystemCPUs is set to 0-5
  command: grep -E "^\\s*reservedSystemCPUs:\\s*0-5$" /var/lib/kubelet/config.yaml
  register: check_reserved_cpus
  changed_when: false
  ignore_errors: yes
  when: is_rt and kubelet_config_file.stat.exists

- name: Show a warning if reservedSystemCPUs is not set to 0-5
  debug:
    msg: "⚠️ reservedSystemCPUs is not set to '0-5'. Check your configuration!"
  when: is_rt and check_reserved_cpus is defined and check_reserved_cpus is failed
