---
- name: RESTART_OAI_RAN
  ansible.builtin.meta: noop

- name: Run demo-oai.sh start-gnb to launch OAI gnb pod
  ansible.builtin.command: "{{ demo_oai }} start-gnb"
  args:
    chdir: "{{ repo_dest }}"
  register: gnb_script
  changed_when: "'OAI5G CN is running' in gnb_script.stdout"

