---
- name: Define GRE bridges configuration
  ansible.builtin.set_fact:
    gre_bridges:
      - name: n3br
        local_ip_core: 192.168.3.254/24
        local_ip_ran:  192.168.3.253/24
      - name: n4br
        local_ip_core: 192.168.4.254/24
        local_ip_ran:  192.168.4.253/24

- name: Configure GRE tunnels for N3 and N4
  ansible.builtin.include_tasks: gre_loop.yml
  loop: "{{ gre_bridges }}"
  loop_control:
    loop_var: item

#- name: Pause to debug
#  ansible.builtin.pause:
#    prompt: "Type Enter to resume after inspection"