{% for sl in fiveg.slices %}
- sst: {{ sl.sst | int }}
  sd: {% if sl.sd is defined and sl.sd|string|upper != 'EMPTY' %}
        {% set raw = sl.sd|string %}
        {% if raw.startswith('0x') or raw.startswith('0X') %}
0x{{ '%06X' | format(raw[2:]|int(base=16)) }}
        {% else %}
0x{{ '%06X' | format(raw|int) }}
        {% endif %}
      {% else %}
0xFFFFFF
      {% endif %}
{% endfor %}
