apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ smf_name }}-configmap"
  labels:
    app: open5gs
    nf: smf
    name: "{{ smf_name }}"
data:
  smfcfg.yaml: |
    logger:
      file: /open5gs/install/var/log/open5gs/smf.log

    global:
      max:
        ue: 1024

    smf:
      sbi:
        server:
          - dev: eth0
            advertise: "{{ smf_name }}-nsmf"
            port: 80
        client:
          - scp:
              - uri: http://scp-nscp:80
      pfcp:
        server:
          - dev: n4
        client:
{% for slice in fiveg.slices if slice.name == smf_slice %}
          - address: 10.10.4.{{ loop.index }}
            dnn: {{ slice.dnn }}
{% endfor %}
      gtpc:
        server:
          - dev: eth0
      gtpu:
        server:
          - dev: n3
      metrics:
        server:
          - address: 0.0.0.0
            port: 9090
      session:
{% for slice in fiveg.slices if slice.name == smf_slice %}
        - subnet: {{ slice.ip_prefix }}.0/16
{% endfor %}
      dns:
        - 8.8.8.8
        - 8.8.4.4
      mtu: 1400
      ctf:
        enabled: auto
      freeDiameter: /open5gs/install/etc/freeDiameter/smf.conf

      info:
{% for slice in fiveg.slices if slice.name == smf_slice %}
        - s_nssai:
            - sst: {{ slice.sst }}
              sd: {% if slice.sd == "EMPTY" %}FFFFFF{% else %}{{ slice.sd }}{% endif %}
          dnn:
            - {{ slice.dnn }}
          qos:
            five_qi: {{ slice.qos.five_qi }}
            priority_level: {{ slice.qos.priority_level }}
            arp:
              priority_level: {{ slice.qos.arp.priority_level }}
              preempt_cap: {{ slice.qos.arp.preempt_cap }}
              preempt_vuln: {{ slice.qos.arp.preempt_vuln }}
{% endfor %}
