[
{% for ue_name, ue in ues.items() %}
  {
    "imsi": "{{ plmn.mcc }}{{ plmn.mnc }}{{ ue.imsi_suffix }}",
    "security": {
      "k": "{{ security.full_key }}",
      "opc": "{{ security.opc }}"
    },
    "slice": {
      "sst": {{ (slices | selectattr('name','equalto',ue.slice) | first).sst }},
{% set sd = (slices | selectattr('name','equalto',ue.slice) | first).sd %}
{% if sd != "EMPTY" %}
      "sd": "{{ sd }}"
{% endif %}
    },
    "dnn": "{{ (slices | selectattr('name','equalto',ue.slice) | first).dnn }}"
  }{{ "," if not loop.last }}
{% endfor %}
]
