apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ upf_name }}-configmap
  labels:
    app: open5gs
    nf: upf
    name: {{ upf_name }}
data:
  upfcfg.yaml: |
    logger:
      file: /open5gs/install/var/log/open5gs/upf.log
      level: info

    global:
      max:
        ue: 1024

    upf:
      pfcp:
        server:
{% for slice in fiveg.slices %}{% if slice.name == upf_slice %}
          - address: 10.10.4.{{ loop.index }}
{% endif %}{% endfor %}
      gtpu:
        server:
{% for slice in fiveg.slices %}{% if slice.name == upf_slice %}
          - address: 10.10.3.{{ loop.index }}
{% endif %}{% endfor %}
      session:
{% for slice in fiveg.slices %}{% if slice.name == upf_slice %}
        - subnet: {{ slice.ip_prefix }}.0/16
          dnn: {{ slice.dnn }}
{% endif %}{% endfor %}
      metrics:
        server:
          - address: 0.0.0.0
            port: 9090

  wrapper.sh: |
    #!/bin/bash
{% for slice in fiveg.slices %}{% if slice.name == upf_slice %}
    ip tuntap add name ogstun mode tun;
    ip addr add {{ slice.ip_prefix }}.1/16 dev ogstun;
    sysctl -w net.ipv6.conf.all.disable_ipv6=1;
    ip link set ogstun up;
    ip link set dev ogstun mtu 1350;
    sh -c "echo 1 > /proc/sys/net/ipv4/ip_forward";
    iptables -t nat -A POSTROUTING -s {{ slice.ip_prefix }}.0/16 ! -o ogstun -j MASQUERADE;
{% endif %}{% endfor %}
    /open5gs/install/bin/open5gs-upfd -c /open5gs/config/upfcfg.yaml
