# roles/5g/open5gs/config/templates/values-5g.yaml.j2

amf:
  config:
    plmnSupportList:
      - plmnId:
          mcc: "{{ plmn['mcc'] }}"
          mnc: "{{ plmn['mnc'] }}"
        sNssaiList:
{% if slices is defined %}
{% for slice in slices %}
          - sst: "{{ slice['sst'] }}"
{% if slice['sd'] != "EMPTY" %}
            sd: "{{ slice['sd'] }}"
{% endif %}
{% endfor %}
{% endif %}

smf:
  config:
    snssaiInfos:
{% if slices is defined %}
{% for slice in slices %}
      - sNssai:
          sst: "{{ slice['sst'] }}"
{% if slice['sd'] != "EMPTY" %}
          sd: "{{ slice['sd'] }}"
{% endif %}
        dnnInfos:
          - dnn: "{{ slice['dnn'] }}"
            qosProfile:
              5qi: "{{ slice['qos']['five_qi'] }}"
              arp:
                priorityLevel: "{{ slice['qos']['arp']['priority_level'] }}"
                preemptCap: "{{ slice['qos']['arp']['preempt_cap'] }}"
                preemptVuln: "{{ slice['qos']['arp']['preempt_vuln'] }}"
            sessionAmbr:
              uplink: "{{ slice['bandwidth']['uplink'] }}"
              downlink: "{{ slice['bandwidth']['downlink'] }}"
{% endfor %}
{% endif %}
