---
- name: Ensure CPUAffinity is set in system.conf
  lineinfile:
    path: /etc/systemd/system.conf
    regexp: '^CPUAffinity='
    line: 'CPUAffinity=0-3'
    state: present

- name: Reload sysctl
  command: sysctl -p

- name: Reload systemd config
  command: systemctl daemon-reexec

- name: Add Kubernetes and RT settings to sysctl.conf
  blockinfile:
    path: /etc/sysctl.conf
    insertafter: EOF
    block: |
      ## For kubernetes
      fs.inotify.max_user_instances=65536
      ## Realtime kernel settings
      kernel.sched_rt_runtime_us=-1
      kernel.timer_migration=0
    marker: "# {mark} RAN tuning"

- name: Ensure /var/lib/kubelet directory exists
  ansible.builtin.file:
    path: /var/lib/kubelet
    state: directory
    owner: root
    group: root
    mode: '0755'
  become: yes

- name: Write kubelet config with native snapshotter
  ansible.builtin.copy:
    dest: /var/lib/kubelet/config.yaml
    content: |
      apiVersion: kubelet.config.k8s.io/v1beta1
      kind: KubeletConfiguration
      cgroupDriver: systemd
      containerRuntimeEndpoint: unix:///run/containerd/containerd.sock
      cpuManagerPolicy: static
      cpuManagerPolicyOptions:
        full-pcpus-only: true
      reservedSystemCPUs: 0-5
      topologyManagerPolicy: best-effort
      failSwapOn: false
      featureGates:
        CPUManager: true
        CPUManagerPolicyOptions: true
      resolvConf: /run/systemd/resolve/resolv.conf
      rotateCertificates: true
    mode: '0644'
  become: true

- name: Remove kubelet CPU manager checkpoint file
  ansible.builtin.file:
    path: /var/lib/kubelet/cpu_manager_state
    state: absent
  become: true

- name: Restart kubelet
  systemd:
    name: kubelet
    state: restarted