---
- name: RESTART_OAI_SETUP
  ansible.builtin.meta: noop

- name: Remove existing OAI directory if it exists
  file:
    path: "{{ dir_oai }}"
    state: absent

- name: Ensure OAI directory exists in $HOME
  file:
    path: "{{ dir_oai }}"
    state: directory
    mode: '0755'

- name: Download prepare-demo-oai.sh from GitHub
  get_url:
    url: "https://raw.githubusercontent.com/sopnode/oai5g-rru/refs/heads/{{ tag_oai5g_rru }}/testing/prepare-demo-oai.sh"
    dest: "{{ prepare_demo_script }}"
    mode: '0755'
    force: yes

- name: Retrieve physical interfaces for multus on the core and ran nodes
  set_fact:
    multus_core_if: "{{ hostvars[groups['core_node'][0]].nic_interface }}"
    multus_ran_if: "{{ hostvars[groups['ran_node'][0]].nic_interface }}"

- name: Update HOST_GNB variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^HOST_GNB='
    line: "HOST_GNB=\"{{ inventory_hostname }}\""
    backrefs: true

- name: Update TAG_OAI5G_RRU variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^TAG_OAI5G_RRU='
    line: "TAG_OAI5G_RRU=\"{{ tag_oai5g_rru }}\""
    backrefs: true

- name: Update REPO_OAI5G_RRU variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^REPO_OAI5G_RRU='
    line: "REPO_OAI5G_RRU=\"{{ repo_oai5g_rru }}\""
    backrefs: true

- name: Update TAG_OAI_CN5G_FED variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^TAG_OAI_CN5G_FED='
    line: "TAG_OAI_CN5G_FED=\"{{ tag_oai_cn5g_fed }}\""
    backrefs: true

- name: Update REPO_OAI_CN5G_FED variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^REPO_OAI_CN5G_FED='
    line: "REPO_OAI_CN5G_FED=\"{{ repo_oai_cn5g_fed }}\""
    backrefs: true

- name: Update LOCAL_CORE_INTERFACE variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^LOCAL_CORE_INTERFACE='
    line: "LOCAL_CORE_INTERFACE=\"{{ multus_core_if }}\""
    backrefs: true

- name: Update LOCAL_RAN_INTERFACE variable in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^LOCAL_RAN_INTERFACE='
    line: "LOCAL_RAN_INTERFACE=\"{{ multus_ran_if }}\""
    backrefs: true

- name: Update RRU variable with {{ rru }} in prepare-demo-oai.sh
  ansible.builtin.lineinfile:
    path: "{{ prepare_demo_script }}"
    regexp: '^RRU='
    line: "RRU=\"{{ rru }}\""
    backrefs: true

- name: Run prepare-demo-oai.sh to pull and configure OAI charts
  ansible.builtin.command: "{{ prepare_demo_script }} -a"
  args:
    chdir: "{{ repo_dest }}"
  register: prepare_script
  changed_when: "'OAI5G charts are now configured' in prepare_script.stdout"

- name: Ensure Helm is installed, required for demo-oai.sh script
  ansible.builtin.shell: |
    if ! command -v helm >/dev/null 2>&1; then
      curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
    fi
  args:
    executable: /bin/bash
  become: true