---
- name: Ensure Open5GS k8s repo is cloned
  git:
    repo: https://github.com/sopnode/open5gs-k8s.git
    dest: /root/open5gs-k8s
    version: main
    force: true
  become: true

- name: Generate Open5GS values from 5G profile
  template:
    src: values-5g.yaml.j2
    dest: /root/open5gs-k8s/open5gs/values-5g.yaml
  become: true

- name: Deploy Open5GS core using deploy-core.sh
  shell: bash deploy-core.sh
  args:
    chdir: /root/open5gs-k8s
  become: true
