---
---
- name: Clone open5gs-k8s repo
  ansible.builtin.git:
    repo: "{{ repo_url }}"
    dest: "{{ repo_dest }}"
    version: "{{ repo_branch }}"
    update: yes
    force: yes

# Then apply the 5G profile settings on the repo

- name: Load active 5G profile
  ansible.builtin.include_vars:
    file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
    name: fiveg

- name: Validate PLMN
  assert:
    that:
      - fiveg.plmn.mcc is defined
      - fiveg.plmn.mnc is defined
      - fiveg.plmn.tac is defined

- name: Validate slices
  assert:
    that:
      - slice.name is defined
      - slice.sst is defined
      - slice.dnn is defined
  loop: "{{ fiveg.slices }}"
  loop_control:
    loop_var: slice

- name: Validate UE slice references
  assert:
    that:
      - ue.value.slice in fiveg.slices | map(attribute='name') | list
  loop: "{{ fiveg.ues | dict2items }}"
  loop_control:
    loop_var: ue

- name: Update AMF ConfigMap on disk
  ansible.builtin.template:
    src: amf-configmap.yaml.j2
    dest: "{{ open5gs_root }}/common/amf/amf-configmap.yaml"

- name: Update SMF1 ConfigMap on disk
  ansible.builtin.template:
    src: smf-configmap.yaml.j2
    dest: "{{ open5gs_root }}/slices/slice1/smf1/smf-configmap.yaml"
  vars:
    smf_name: smf1
    smf_slice: slice1

- name: Update SMF2 ConfigMap on disk
  ansible.builtin.template:
    src: smf-configmap.yaml.j2
    dest: "{{ open5gs_root }}/slices/slice2/smf2/smf-configmap.yaml"
  vars:
    smf_name: smf2
    smf_slice: slice2

- name: Update UPF1 ConfigMap on disk
  ansible.builtin.template:
    src: upf-configmap.yaml.j2
    dest: "{{ open5gs_root }}/slices/slice1/upf1/upf-configmap.yaml"
  vars:
    upf_name: upf1
    upf_slice: slice1
    upf_slice_data: "{{ fiveg.slices | selectattr('name','equalto', 'slice1') | first }}"

- name: Update UPF2 ConfigMap on disk
  ansible.builtin.template:
    src: upf-configmap.yaml.j2
    dest: "{{ open5gs_root }}/slices/slice2/upf2/upf-configmap.yaml"
  vars:
    upf_name: upf2
    upf_slice: slice2
    upf_slice_data: "{{ fiveg.slices | selectattr('name','equalto', 'slice2') | first }}"

- name: Generate generate-data-fiveg.py for UEs on disk
  ansible.builtin.template:
    src: generate-data-fiveg.py.j2
    dest: "{{ repo_dest }}/mongo-tools/generate-data-fiveg.py"
    mode: "0755"
  vars:
    profile: "{{ fiveg }}"

- name: Generate 5G profile check file
  ansible.builtin.template:
    src: profile-check.j2
    dest: /root/open5gs_profile_check.txt
    owner: root
    mode: '0644'

