---
- name: Set target UE name
  set_fact:
    target_ue: "ue{{ ue_idx + 1 }}"

- name: Slurp UE config from remote
  ansible.builtin.slurp:
    src: "{{ ueransim_root }}/ueransim-ue/{{ target_ue }}/{{ target_ue }}.yaml"
  register: ue_cfg_encoded

- name: Slurp UE wrapper from remote
  ansible.builtin.slurp:
    src: "{{ ueransim_root }}/ueransim-ue/{{ target_ue }}/wrapper.sh"
  register: ue_wrapper_encoded

- name: Create ConfigMap for {{ target_ue }}
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: "{{ target_ue }}-configmap"
        namespace: "{{ ran_ns | default('open5gs') }}"
      # On utilise une structure dictionnaire dynamique
      data: "{{ { target_ue ~ '.yaml': ue_cfg_encoded.content | b64decode, 'wrapper.sh': ue_wrapper_encoded.content | b64decode } }}"

- name: Deploy UERANSIM Deployment for {{ target_ue }}
  kubernetes.core.k8s:
    state: present
    src: "{{ ueransim_root }}/ueransim-ue/{{ target_ue }}/ue-deployment.yaml"
    namespace: "{{ ran_ns | default('open5gs') }}"

