---
- name: Read modified gNB config from remote
  ansible.builtin.slurp:
    src: "{{ ueransim_root }}/ueransim-gnb/config/open5gs-gnb.yaml"
  register: gnb_cfg_encoded

- name: Read gNB wrapper script from remote
  ansible.builtin.slurp:
    src: "{{ ueransim_root }}/ueransim-gnb/config/wrapper.sh"
  register: gnb_wrapper_encoded

- name: Deploy UERANSIM gNB ConfigMap
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: gnb-configmap
        namespace: "{{ ran_ns | default('default') }}"
      data:
        open5gs-gnb.yaml: "{{ gnb_cfg_encoded.content | b64decode }}"
        wrapper.sh: "{{ gnb_wrapper_encoded.content | b64decode }}"

- name: Deploy UERANSIM gNB Deployment
  kubernetes.core.k8s:
    state: present
    src: "{{ ueransim_root }}/ueransim-gnb/gnb-deployment.yaml"
    namespace: "{{ ran_ns | default('default') }}"

- name: Deploy UERANSIM UEs (ConfigMap + Deployment)
  include_tasks: deploy_each_ue.yml
  loop: "{{ fiveg.ues | dict2items | selectattr('key', 'in', ['UE18', 'UE19', 'UE20']) | list }}"
  loop_control:
    index_var: ue_idx
    loop_var: ue_item

- name: Wait for UERANSIM Pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ ran_ns | default('default') }}"
    label_selectors:
      - "app=ueransim"
  register: ueransim_pods
  until: >
    ueransim_pods.resources | length > 0 and
    ueransim_pods.resources | map(attribute='status.phase') | unique | list == ['Running']
  retries: 20
  delay: 5
