- name: Read modified gNB config from remote
  ansible.builtin.slurp:
    src: "{{ ueransim_root }}/ueransim-gnb/config/open5gs-gnb.yaml"
  register: gnb_cfg_encoded

- name: Deploy UERANSIM gNB ConfigMap
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: gnb-configmap
        namespace: "{{ ran_ns | default('open5gs') }}"
      data:
        # CORRECTION : Nettoyage du 0x pour le gNB
        gnb.yaml: "{{ gnb_cfg_encoded.content | b64decode | replace('sd: 0x', 'sd: ') | replace('sd: 0X', 'sd: ') }}"

- name: Deploy UERANSIM gNB Service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: gnb-service
        namespace: "{{ ran_ns | default('open5gs') }}"
      spec:
        selector:
          app: ueransim
          component: gnb
        ports:
        - protocol: UDP
          port: 4997
          targetPort: 4997

- name: Deploy UERANSIM gNB Deployment
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ueransim-gnb
        namespace: "{{ ran_ns | default('open5gs') }}"
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: ueransim
            component: gnb
        template:
          metadata:
            labels:
              app: ueransim
              component: gnb
          spec:
            containers:
            - name: gnb
              image: ghcr.io/niloysh/ueransim:v3.2.6
              command: ["/ueransim/nr-gnb"]
              args: ["-c", "/ueransim/config/gnb.yaml"]
              ports:
              - containerPort: 4997
                protocol: UDP
              volumeMounts:
              - name: gnb-volume
                mountPath: /ueransim/config
            volumes:
            - name: gnb-volume
              configMap:
                name: gnb-configmap

- name: Deploy UERANSIM UEs (ConfigMap + Deployment)
  include_tasks: deploy_each_ue.yml
  loop: "{{ range(0, 3) | list }}" # Adapte ici selon le nombre d'UEs (ex: 3 UEs)
  loop_control:
    index_var: ue_idx

- name: Wait for UERANSIM Pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ ran_ns | default('open5gs') }}"
    label_selectors:
      - "app=ueransim"
  register: ueransim_pods
  until: >
    ueransim_pods.resources | length > 0 and
    ueransim_pods.resources | map(attribute='status.phase') | unique | list == ['Running']
  retries: 20
  delay: 5
