---
- name: Build extra UHD args depending on node
  set_fact:
    usrp_args: >-
      {% if node == "n320" %}
      --args="product=n320,serial=31B3A77"
      {% elif node == "n300" %}
      --args="product=n300,serial=31D98C7"
      {% else %}
      ""
      {% endif %}

- name: Build final command
  set_fact:
    noise_cmd: >-
      ssh root@{{ node }}
      "timeout {{ time }} uhd_siggen --gaussian
      -f '{{ hostvars[groups['faraday'][0]].freq }}'
      -g '{{ hostvars[groups['faraday'][0]].gain }}'
      -s '{{ hostvars[groups['faraday'][0]].noise_bandwidth }}'
      {{ usrp_args }}"

- name: Debug command that will be executed
  debug:
    msg: "{{ noise_cmd }}"

- name: Start Gaussian Noise Emission from {{ node }}
  shell: "{{ noise_cmd }}"
  delegate_to: faraday.inria.fr
  ignore_errors: true
  no_log: true

