---
- name: Start Gaussian Noise Emission from {{ node }} on frequency {{ hostvars[groups['faraday'][0]].freq }} with -g {{ hostvars[groups['faraday'][0]].g }} for 5 minutes
  shell: >
    ssh root@{{ node }} '
      timeout {{ time }} uhd_siggen --gaussian
      --freq="{{ hostvars[groups['faraday'][0]].freq }}"
      -g "{{ hostvars[groups['faraday'][0]].g }}"
      -s "{{ hostvars[groups['faraday'][0]].s }}"
      {% if node == "n320" %} --args="product=n320,serial=31B3A77"{% endif %}
      {% if node == "n300" %} --args="product=n300,serial=31D98C7"{% endif %}
    '
  delegate_to: faraday.inria.fr
  ignore_errors: true
  no_log: true

