---
- name: Start Gaussian Noise Emmission from {{ node }} on frequency {{ freq }} with -g {{ gain }} for 5 minutes
  shell: ssh root@{{ node }} 'timeout {{ time }} uhd_siggen --gaussian --freq="{{ freq }}" -g "{{ gain }}" -s "{{ noise_bandwidth }}"'
  delegate_to: faraday.inria.fr
  ignore_errors: true
  no_log: true