---
- name: Get list of NR-UE pods
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: open5gs
  register: ue_pods

- set_fact:
    duration: 10
    sleep: 5
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"

- name: Install iperf3 and get oaitun_ue1 IP for NR-UEs
  shell: |
    kubectl -n open5gs exec {{ item.metadata.name }} -- bash -c '
      set -euo pipefail
      if ! command -v iperf3 >/dev/null 2>&1; then
        yum update -y -qq && yum install -y -qq iperf3
      fi
      ip -4 addr show oaitun_ue1 | grep -oP "(?<=inet\s)\d+(\.\d+){3}"'
  loop: "{{ ue_pods.resources }}"
  register: ue_setup
  changed_when: false

- name: Set facts for NR-UE pods and IPs
  set_fact:
    ue1_pod: "{{ ue_pods.resources[0].metadata.name }}"
    ue2_pod: "{{ ue_pods.resources[1].metadata.name }}"
    ue3_pod: "{{ ue_pods.resources[2].metadata.name }}"
    ue1_ip: "{{ ue_setup.results[0].stdout }}"
    ue2_ip: "{{ ue_setup.results[1].stdout }}"
    ue3_ip: "{{ ue_setup.results[2].stdout }}"

- name: Run iperf3 uplink on NR-UE1
  shell: kubectl -n open5gs exec {{ ue1_pod }} -- bash -c 'iperf3 -B {{ ue1_ip }} -c {{ core_ip }} -t {{ duration }}'
  register: ue1_uplink
  changed_when: false

- name: Wait before next test
  pause:
    seconds: "{{ sleep }}"

- name: Run iperf3 uplink on NR-UE2
  shell: kubectl -n open5gs exec {{ ue2_pod }} -- bash -c 'iperf3 -B {{ ue2_ip }} -c {{ core_ip }} -t {{ duration }}'
  register: ue2_uplink
  changed_when: false

- name: Wait before next test
  pause:
    seconds: "{{ sleep }}"

- name: Run iperf3 downlink on NR-UE1
  shell: kubectl -n open5gs exec {{ ue1_pod }} -- bash -c 'iperf3 -B {{ ue1_ip }} -c {{ core_ip }} -t {{ duration }} -R'
  register: ue1_downlink
  changed_when: false

- name: Wait before next test
  pause:
    seconds: "{{ sleep }}"

- name: Run iperf3 downlink on NR-UE2
  shell: kubectl -n open5gs exec {{ ue2_pod }} -- bash -c 'iperf3 -B {{ ue2_ip }} -c {{ core_ip }} -t {{ duration }} -R'
  register: ue2_downlink
  changed_when: false
