---
- name: Ensure Open vSwitch is installed
  apt:
    name: openvswitch-switch
    state: present
    update_cache: yes
  become: true

- name: Create OVS bridges for ovs-cni
  command: "ovs-vsctl --may-exist add-br {{ item }}"
  loop:
    - n2br
    - n3br
    - n4br
  become: true

- name: Apply Cluster-Network-Addons Operator & OVS-CNI + Multus
  ansible.builtin.shell: |
    kubectl apply -f https://github.com/kubevirt/cluster-network-addons-operator/releases/download/v0.89.1/namespace.yaml
    kubectl apply -f https://github.com/kubevirt/cluster-network-addons-operator/releases/download/v0.89.1/network-addons-config.crd.yaml
    kubectl apply -f https://github.com/kubevirt/cluster-network-addons-operator/releases/download/v0.89.1/operator.yaml
    kubectl apply -f - <<EOF
    apiVersion: networkaddonsoperator.network.kubevirt.io/v1
    kind: NetworkAddonsConfig
    metadata:
      name: cluster
    spec:
      multus: {}
      ovs: {}
    EOF
  args:
    executable: /bin/bash

- name: Wait 10 seconds for cluster-network-addons Ready
  pause:
    seconds: 10