---
- name: Force Taint node {{ target_node }} with NoSchedule
  ansible.builtin.command: >
    kubectl taint node {{ target_node }} test-eviction=true:NoSchedule --overwrite
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  register: taint_out
  failed_when: 
    - taint_out.rc != 0
    - "'already' not in taint_out.stderr" 
  changed_when: >
    'tainted' in taint_out.stdout or 
    'modified' in taint_out.stdout

- name: Clean up core pods from node {{ target_node }}
  ansible.builtin.shell: >
    kubectl delete pods -n open5gs --field-selector spec.nodeName={{ target_node }} --ignore-not-found=true
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  when: taint_out.changed
