---
- name: Force Taint node with NoSchedule
  ansible.builtin.command: >
    kubectl taint node {{ inventory_hostname }} node=noschedule:NoSchedule --overwrite
  register: taint_out

- name: Clean up core pods from RAN node
  ansible.builtin.shell: >
    kubectl delete pods -n open5gs --field-selector spec.nodeName={{ inventory_hostname }} --ignore-not-found=true
  when: taint_out.changed
