---
# see https://gitlab.eurecom.fr/oai/orchestration/charts/-/blob/oai-gnb-fhi-72/oai-gnb-fhi-72/README.md#prerequisite
- name: RESTART_SR-IOV
  ansible.builtin.meta: noop

- name: Load ran_node vars on controller
  include_vars:
    file: "/home/turletti/xp/post5g-beta/ptp_test/5g_ansible/group_vars/ran_node.yml"
    name: ran_vars
  run_once: true
  delegate_to: localhost

- name: Install Python kubernetes library and setuptools on worker ran_node
  ansible.builtin.pip:
    name:
      - kubernetes>=24.2.0
      - setuptools>=45.0.0
    executable: >-
      {{ ansible_python_interpreter | default('/opt/ansible-k8s-venv/bin/pip3') }}
    state: present
    extra_args: >-
      --no-cache-dir --force-reinstall
  become: yes
  environment:
    PIP_TRUSTED_HOST: pypi.org
    PIP_INDEX_URL: https://pypi.org/simple

- name: Label node {{ inventory_hostname }} as SR-IOV capable
  kubernetes.core.k8s:
    api_version: v1
    kind: Node
    name: "{{ inventory_hostname }}"
    definition:
      metadata:
        labels:
          feature.node.kubernetes.io/network-sriov.capable: "true"
          node-role.kubernetes.io/worker: ""
    state: patched
  delegate_to: "{{ groups['core_node'][0] }}"   # run from control/master node

- name: Wait until SR-IOV operator detects NICs on the node
  kubernetes.core.k8s_info:
    api_version: sriovnetwork.openshift.io/v1
    kind: SriovNetworkNodeState
    name: "{{ inventory_hostname }}"
    namespace: "{{ ran_vars.sriovNetworkNamespace }}"
  register: sriov_node_state
  until:
    - sriov_node_state.resources is defined
    - sriov_node_state.resources | length > 0
    - sriov_node_state.resources[0].status is defined
    - sriov_node_state.resources[0].status.interfaces is defined
    - >
      sriov_node_state.resources[0].status.interfaces
      | selectattr('name', 'equalto', ran_vars.dpdk_interface_c.split('#')[0])
      | list | length > 0
  retries: 30
  delay: 15
  failed_when: false
  delegate_to: "{{ groups['core_node'][0] }}"

- name: Create SR-IOV Node Policies for C_PLANE
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: sriovnetwork.openshift.io/v1
      kind: SriovNetworkNodePolicy
      metadata:
        name: "{{ ran_vars.sriovResourceNameCplane }}"
        namespace: "{{ ran_vars.sriovNetworkNamespace }}"
      spec:
        deviceType: vfio-pci
        isRdma: false
        linkType: eth
        mtu: 9216
        nicSelector:
          pfNames:
          - "{{ ran_vars.dpdk_interface_c }}"
          rootDevices:
          - "{{ ran_vars.pci_dpdk_interface }}"
        nodeSelector:
          feature.node.kubernetes.io/network-sriov.capable: "true"
        numVfs: 4
        priority: 12
        resourceName: "{{ ran_vars.sriovResourceNameCplane }}"

- name: Create SR-IOV Node Policies for U_PLANE
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: sriovnetwork.openshift.io/v1
      kind: SriovNetworkNodePolicy
      metadata:
        name: "{{ ran_vars.sriovResourceNameUplane }}"
        namespace: "{{ ran_vars.sriovNetworkNamespace }}"
      spec:
        deviceType: vfio-pci
        isRdma: false
        linkType: eth
        mtu: 9216
        nicSelector:
          pfNames:
          - "{{ ran_vars.dpdk_interface_u }}"
          rootDevices:
          - "{{ ran_vars.pci_dpdk_interface }}"
        nodeSelector:
          feature.node.kubernetes.io/network-sriov.capable: "true"
        numVfs: 4
        priority: 11
        resourceName: "{{ ran_vars.sriovResourceNameUplane }}"

