---
- name: Install ethtool
  apt:
    name:
      - ethtool
    state: present
    update_cache: yes
  become: true

- name: Increase NIC ring buffers on {{ nic_interface }}
  command: ethtool -G {{ nic_interface }} tx 8160 rx 8160
  become: true

- name: Install tuned
  apt:
    name:
      - tuned
    state: present
    update_cache: yes
  become: true
  when: inventory_hostname != "sopnode-f3"

- name: Activate throughput-performance tuned profile
  command: tuned-adm profile throughput-performance
  become: true
  when: inventory_hostname != "sopnode-f3"

- name: Show active tuned profile
  command: tuned-adm active
  register: tuned_status
  become: true
  when: inventory_hostname != "sopnode-f3"

- debug:
    msg: "{{ tuned_status.stdout }}"
  when: inventory_hostname != "sopnode-f3"
