apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: n3network-ueransim-gnb
  namespace: {{ ran_ns | default('oai') }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: ueransim-gnb
    meta.helm.sh/release-namespace: {{ ran_ns | default('oai') }}
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "name": "n3network-ueransim-gnb",
      "type": "ovs",
      "bridge": "{{ net.n3_bridge }}",
      "mtu": 1500,
      "ipam": {
        "type": "static",
        "addresses": [
          {
            "address": "{{ net.gnb_n3_ip }}/24"
          }
        ]
      }
    }
