[global]
domainNumber            {{ ptp_domain_number }}
slaveOnly               {{ ptp_slave_only }}
time_stamping           {{ ptp_time_stamping }}
tx_timestamp_timeout    {{ ptp_tx_timestamp_timeout }}
logging_level           {{ ptp_logging_level }}
summary_interval        {{ ptp_summary_interval }}
logAnnounceInterval     {{ ptp_log_announce_interval }}
logSyncInterval         {{ ptp_log_sync_interval }}
verbose                 {{ ptp_verbose }}

[{{ ptp_interface }}]
network_transport       {{ ptp_network_transport }}



