{% set raw_sd = sl_item.sd|string if sl_item.sd is defined else 'EMPTY' %}
{% if raw_sd.upper() == 'EMPTY' %}
0xFFFFFF
{% elif raw_sd.lower().startswith('0x') %}
0x{{ '%06X' | format(raw_sd[2:]|int(base=16)) }}
{% else %}
0x{{ '%06X' | format(raw_sd|int) }}
{% endif %}
