apiVersion: v1
kind: ConfigMap
metadata:
  name: open5gs-config
  namespace: open5gs
data:
  slices.yaml: |
{% for s in fiveg_profile_data.slices %}
    - name: "{{ s.name }}"
      sst: "{{ s.sst }}"
      sd: "{{ s.sd | default('') }}"
      dnn: "{{ s.dnn }}"
{% endfor %}
  ues.yaml: |
{% for ue_name, ue_val in fiveg_profile_data.ues.items() %}
    {{ ue_name }}:
      imsi_suffix: "{{ ue_val.imsi_suffix }}"
      slice: "{{ ue_val.slice }}"
{% endfor %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: open5gs-config
  namespace: open5gs
data:
  slices.yaml: |
{% for s in fiveg_profile_data.slices %}
    - name: "{{ s.name }}"
      sst: "{{ s.sst }}"
      sd: "{{ s.sd | default('') }}"
      dnn: "{{ s.dnn }}"
      qos:
        five_qi: "{{ s.qos.five_qi }}"
        priority_level: "{{ s.qos.priority_level }}"
        arp:
          priority_level: "{{ s.qos.arp.priority_level }}"
          preempt_cap: "{{ s.qos.arp.preempt_cap }}"
          preempt_vuln: "{{ s.qos.arp.preempt_vuln }}"
      bandwidth:
        uplink: "{{ s.bandwidth.uplink }}"
        downlink: "{{ s.bandwidth.downlink }}"
      ip_prefix: "{{ s.ip_prefix }}"
{% endfor %}
  ues.yaml: |
{% for ue_name, ue_val in fiveg_profile_data.ues.items() %}
    {{ ue_name }}:
      imsi_suffix: "{{ ue_val.imsi_suffix }}"
      slice: "{{ ue_val.slice }}"
{% endfor %}
