---
- name: Disable NTP services to avoid conflicts with PTP
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: no
  loop:
    - systemd-timesyncd
    - chronyd
  ignore_errors: yes
  become: yes

- name: Install linuxptp build dependencies and git
  ansible.builtin.apt:
    name:
      - gcc
      - make
      - libpcap-dev
      - linux-headers-{{ ansible_kernel }}
      - git
    state: present
    update_cache: true
  become: yes

- name: Clone linuxptp Git repository from GitHub
  ansible.builtin.git:
    repo: https://github.com/richardcochran/linuxptp.git
    dest: /tmp/linuxptp
    version: v4.4
    depth: 1
  become: yes
  register: git_clone

- name: Build and install linuxptp 4.4
  ansible.builtin.shell: |
    cd /tmp/linuxptp
    make
    make install
  args:
    creates: /usr/local/sbin/ptp4l
  become: yes

- name: Ensure /etc/sysconfig exists
  ansible.builtin.file:
    path: /etc/sysconfig
    state: directory
    mode: '0755'
  become: yes

- name: Install ptp4l.conf
  ansible.builtin.template:
    src: ptp4l.conf.j2
    dest: /etc/ptp4l.conf
    mode: '0644'
  become: yes

- name: Install /etc/sysconfig/ptp4l
  ansible.builtin.template:
    src: sysconfig_ptp4l.j2
    dest: /etc/sysconfig/ptp4l
    mode: '0644'
  become: yes

- name: Ensure phc2sys is enabled and running
  ansible.builtin.systemd:
    name: phc2sys@{{ ptp_interface }}
    state: started
    enabled: yes
  become: yes
  ignore_errors: yes
