---
- name: Include 5G profile variables
  ansible.builtin.include_vars:
    file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
    name: fiveg

- name: Retrieve UPF1/UPF2 IPs from slices prefix
  set_fact:
    upf1_ip: >-
      {{
        (slices
        | selectattr('name', 'equalto', 'slice1')
        | map(attribute='ip_prefix')
        | first) ~ '.1'
      }}
    upf2_ip: >-
      {{
        (fiveg.slices
        | selectattr('name', 'equalto', 'slice2')
        | map(attribute='ip_prefix')
        | first) ~ '.1'
      }}
      
- name: Get list of NR-UE pods
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: open5gs
  register: ue_pods
  no_log: true

- set_fact:
    ue1_pod: "{{ item.metadata.name }}"
  loop: "{{ ue_pods.resources }}"
  when: item.metadata.name is match('^oai-nr-ue-')
  no_log: true

- set_fact:
    ue2_pod: "{{ item.metadata.name }}"
  loop: "{{ ue_pods.resources }}"
  when: item.metadata.name is match('^oai-nr-ue2-')
  no_log: true

- set_fact:
    ue3_pod: "{{ item.metadata.name }}"
  loop: "{{ ue_pods.resources }}"
  when: item.metadata.name is match('^oai-nr-ue3-')
  no_log: true

- name: Install iperf3 on NR-UE
  shell: |
    kubectl -n open5gs exec {{ ue1_pod }} -- bash -c '
      set -euo pipefail
      if ! command -v iperf3 >/dev/null 2>&1; then
        yum update -y -qq &&
        yum install -y -qq iperf3
      fi
    '
  register: ue1_install
  changed_when: false

- name: Install iperf3 on NR-UE2
  shell: |
    kubectl -n open5gs exec {{ ue2_pod }} -- bash -c '
      set -euo pipefail
      if ! command -v iperf3 >/dev/null 2>&1; then
        yum update -y -qq &&
        yum install -y -qq iperf3
      fi
    '
  register: ue2_install
  changed_when: false

- name: Install iperf3 on NR-UE3
  shell: |
    kubectl -n open5gs exec {{ ue3_pod }} -- bash -c '
      set -euo pipefail
      if ! command -v iperf3 >/dev/null 2>&1; then
        yum update -y -qq &&
        yum install -y -qq iperf3
      fi
    '
  register: ue3_install
  changed_when: false

- name: Run iperf3 client on NR-UE for 200s (Uplink Test on Slice 1)
  shell: |
    kubectl -n open5gs exec {{ ue1_pod }} -- bash -c 'iperf3 -c {{ upf1_ip }} -t 200'

- name: Wait 10 seconds before running next test
  pause:
    seconds: 10

- name: Run iperf3 client on NR-UE2 for 200s (Uplink Test on Slice 2)
  shell: |
    kubectl -n open5gs exec {{ ue2_pod }} -- bash -c 'iperf3 -c {{ upf2_ip }} -t 200'

- name: Wait 10 seconds before running next test
  pause:
    seconds: 10

- name: Run reverse iperf3 client on NR-UE for 200s (Downlink Test on Slice 1)
  shell: |
    kubectl -n open5gs exec {{ ue1_pod }} -- bash -c 'iperf3 -c {{ upf1_ip }} -t 200 -R'

- name: Wait 10 seconds before running next test
  pause:
    seconds: 10

- name: Run reverse iperf3 client on NR-UE2 for 200s (Downlink Test on Slice 2)
  shell: |
    kubectl -n open5gs exec {{ ue2_pod }} -- bash -c 'iperf3 -c {{ upf2_ip }} -t 200 -R'
