---
- name: Cleanup R2Lab
  hosts: faraday
  roles:
    - role: r2lab/cleanup

- name: Power ON RRU on R2Lab
  hosts: faraday
  roles:
    - role: r2lab/rru

- name: Setup UEs on R2Lab
  hosts: faraday
  roles:
    - role: r2lab/ue/setup
