---
- hosts: webshell
  gather_facts: false
  vars:
    original_inventory: "{{ inventory_file }}"
  tasks:
    - debug:
        msg: "Used inventory for run_pos playbook : {{ original_inventory }}"

    - ansible.builtin.command: >
        ansible-playbook -i {{ inventory_file }} playbooks/run_pos.yml --extra-vars "node={{ item }}" -c local
      args:
        chdir: "{{ playbook_dir | dirname }}"
      async: 1800
      poll: 0
      loop: "{{ groups['sopnodes'] }}"
      loop_control:
        label: "{{ item }}"
      register: prepare_jobs

    - async_status:
        jid: "{{ item.ansible_job_id }}"
      register: job_result
      until: job_result.finished
      retries: 100
      delay: 10
      loop: "{{ prepare_jobs.results }}"
      loop_control:
        label: "{{ item.item }}"

# Following role requires all nodes ssh-reachable
# so should be run after previous one
- hosts: all
  gather_facts: true
  tasks:
    - name: Normalize booleans at playbook start
      import_tasks: ../tasks/reload_booleans.yml

- name: Common sopnodes setup
  hosts: sopnodes
  roles:
    - role: setup/common
    - role: setup/netplan
    - role: setup/containerd
    - role: setup/pre_k8s
    - role: setup/k8s/k8s_setup
    - role: setup/k8s/k8s_env
    - role: setup/ovs
      when: not fhi72
    - role: setup/optimization/cpu

- name: PTP setup on ran_node
  hosts: ran_node
  become: true
  roles:
    - role: setup/optimization/nic
      when: fhi72
    - role: setup/ptp
      when: fhi72

- name: Create and setup Kubernetes Cluster on Master
  hosts: core_node
  roles:
    - role: setup/ntp
      when: fhi72
    - role: setup/k8s/cluster_create

- name: Join Kubernetes Cluster on Workers
  hosts: k8s_workers
  become: true
  roles:
    - role: setup/k8s/cluster_join
  
- name: Add NoSchedule taint on RAN node (reserved node for RAN pods) 
  hosts: ran_node
  become: true
  roles:
    - role: setup/k8s/add_taint
      when: not fhi72

- name: Install Multus / CNAO
  hosts: core_node
  become: true
  roles:
    - role: setup/cni
    - role: setup/storage
      when: core == 'open5gs'

- name: Apply specific tuning on RAN Node
  hosts: ran_node
  become: true
  roles:
    - role: setup/k8s/k8s_cpu_tuning
      when: not fhi72
    - role: setup/k8s/benetel_specific_tuning_f3
      when: fhi72 and f3_ran

- name: Deploy 5G-Monarch
  hosts: monitor_node
  roles:
    - role: monarch/deploy
      when: monitoring_enabled
      vars:
        branch: srsRAN_metrics

- name: SRIOV setup
  hosts: ran_node
  become: true
  gather_facts: true
  roles:
    - role: setup/sriov_operator
      when: fhi72 and f3_ran
    - role: setup/sriov_nnp_create
      when: fhi72 and f3_ran

- name: Configure GRE Tunnel From Core Node to RAN Node
  hosts: core_node
  roles:
    - role: setup/gre_tunnel
      when: bridge_enabled

- name: Configure GRE Tunnel From RAN Node to Core Node
  hosts: ran_node
  roles:
    - role: setup/gre_tunnel
      when: bridge_enabled

############################################################################
# Move this block where you want to restart with start-at-task=RESTART_HERE"
#
- hosts: localhost
  gather_facts: false
  tasks:
    - name: RESTART_HERE
      ansible.builtin.meta: noop

    - import_tasks: ../tasks/reload_booleans.yml
- hosts: core_node
  gather_facts: false
  tasks:
    - import_tasks: ../tasks/reload_booleans.yml
- hosts: ran_node
  gather_facts: false
  tasks:
    - import_tasks: ../tasks/reload_booleans.yml
############################################################################


- name: Deploy Open5GS CN
  hosts: core_node
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
  roles:
    - role: 5g/open5gs/fiveg_profile
      when: core == 'open5gs'
    - role: 5g/open5gs/setup
      when: core == 'open5gs'

- name: Deploy OAI CN/RAN
  hosts: ran_node
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
  roles:
    - role: 5g/oai/config
      when: core == 'oai' or ran == 'oai'
    - role: 5g/oai/setup
      when: core == 'oai' or ran == 'oai'
    - role: 5g/oai/core
      when: core == 'oai'
    - role: 5g/oai/ran
      when: ran == 'oai'

- name: Deploy srsRAN
  hosts: ran_node
  vars:
    ue_count: 4
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"

  roles:
    - role: 5g/srsRAN
      when: ran == 'srsRAN'

- name: Launch 5G-Monarch monitoring
  hosts: monitor_node
  roles:
    - role: monarch/monitoring
      when: monitoring_enabled

- name: Set default Kubernetes namespace on core node
  hosts: core_node
  gather_facts: false
  tasks:
    - name: Set current kubectl context namespace to core
      ansible.builtin.command: >
        kubectl config set-context --current --namespace={{ core }}
      changed_when: false