---
- hosts: webshell
  gather_facts: false
  vars:
    original_inventory: "{{ inventory_file }}"
  tasks:
    - debug:
        msg: "Used inventory for run_pos playbook : {{ original_inventory }}"

    - ansible.builtin.command: >
        ansible-playbook -i {{ inventory_file }} playbooks/run_pos.yml --extra-vars "node={{ item }} no_boot={{ no_boot | default(false) }}" -c local
      args:
        chdir: "{{ playbook_dir | dirname }}"
      async: 1800
      poll: 0
      loop: "{{ groups['sopnodes'] }}"
      loop_control:
        label: "{{ item }}"
      register: prepare_jobs

    - async_status:
        jid: "{{ item.ansible_job_id }}"
      register: job_result
      until: job_result.finished
      retries: 100
      delay: 10
      loop: "{{ prepare_jobs.results }}"
      loop_control:
        label: "{{ item.item }}"

# The following task requires all nodes be ssh-reachable
# so it can't be the first task of the playbook
- hosts: all
  gather_facts: true
  tasks:
    - name: Normalize booleans at playbook start
      import_tasks: ../tasks/reload_booleans.yml

- name: Common sopnodes setup
  hosts: sopnodes
  roles:
    - role: setup/common
    - role: setup/netplan
    - role: setup/containerd
    - role: setup/pre_k8s
    - role: setup/k8s/k8s_setup
    - role: setup/k8s/k8s_env
    - role: setup/optimization/cpu

# not for monitor_node
- name: Common sopnodes setup
  hosts: core_node,ran_node,monitor_nodes
  roles:
    - role: setup/ovs
      when: not fhi72

- name: PTP setup on ran_node
  hosts: ran_node
  become: true
  roles:
    - role: setup/optimization/nic
      when: fhi72
    - role: setup/ptp
      when: fhi72

- name: Create and setup Kubernetes Cluster on Master
  hosts: core_node
  roles:
    - role: setup/ntp
      when: fhi72
    - role: setup/k8s/cluster_create

- name: Debug type of bridge_enabled on RAN node
  hosts: ran_node
  become: true

  tasks:
    - name: Show bridge_enabled and ran_node_name
      debug:
        msg:
          - "value = {{ bridge_enabled | default('UNDEFINED') }}"
          - "type = {{ bridge_enabled | default(None) | type_debug }}"
          - "ran_node_name value = {{ ran_node_name | default('UNDEFINED') }}"

- name: Remove Control-Plane NoSchedule taint on CORE node  
  hosts: core_node
  become: true
  roles:
    - role: setup/k8s/remove_cp_taint
      when: not fhi72

- name: Join Kubernetes Cluster on Workers
  hosts: k8s_workers
  become: true
  roles:
    - role: setup/k8s/cluster_join
      when: inventory_hostname != core_node_name

- name: Add NoSchedule taint on RAN node (reserved node for RAN pods)
  hosts: core_node
  become: true
  roles:
    - role: setup/k8s/add_taint
      vars:
        target_node: "{{ ran_node_name }}"
      when: core_node_name != ran_node_name

- name: Install Multus / CNAO
  hosts: core_node
  become: true
  roles:
    - role: setup/cni
    - role: setup/storage
      when: core == 'open5gs'

- name: Apply specific tuning on RAN Node
  hosts: ran_node
  become: true
  roles:
    - role: setup/k8s/k8s_cpu_tuning
      when: not fhi72
    - role: setup/k8s/benetel_specific_tuning_f3
      when: fhi72 and f3_ran

- name: Deploy 5G-Monarch for monitoring
  hosts: monitor_node
  tasks:
    - name: Deploy Monarch for srsRAN
      include_role:
        name: monarch/deploy
      vars:
        branch: srsRAN_metrics
      when: monitoring_enabled and ran == 'srsRAN'

    - name: Deploy Monarch for OAI
      include_role:
        name: monarch/deploy
      vars:
        branch: with_data_persistance_for_sopnodes
      when: monitoring_enabled and ran == 'oai'

- name: Add NoSchedule taint on Monitor node (core/ran pods should not run on monitor_node)
  hosts: core_node
  become: true
  roles:
    - role: setup/k8s/add_taint
      vars:
        target_node: "{{ monitor_node_name }}"
      when: core_node_name != ran_node_name
      
- name: Setup sniffers on SMFs
  hosts: core_node
  gather_facts: false
  roles:
    - role: monarch/sniffers/smf
      when: monitoring_enabled

- name: Setup sniffers on AMF
  hosts: core_node
  gather_facts: false
  roles:
    - role: monarch/sniffers/amf
      when: monitoring_enabled

- name: SRIOV setup
  hosts: ran_node
  become: true
  gather_facts: true
  roles:
    - role: setup/sriov_operator
      when: fhi72 and f3_ran
    - role: setup/sriov_nnp_create
      when: fhi72 and f3_ran

- name: Configure GRE Tunnel From Core Node to RAN Node
  hosts: core_node
  roles:
    - role: setup/gre_tunnel
      when: bridge_enabled

- name: Configure GRE Tunnel From RAN Node to Core Node
  hosts: ran_node
  roles:
    - role: setup/gre_tunnel
      when: bridge_enabled

- name: Deploy Open5GS CN
  hosts: core_node
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
  roles:
    - role: 5g/open5gs/config
      when: core == 'open5gs'
    - role: 5g/open5gs/deploy
      when: core == 'open5gs'

- name: Deploy OAI CN/RAN
  hosts: ran_node
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
  roles:
    - role: 5g/oai/config
      when: core == 'oai' or ran == 'oai'
    - role: 5g/oai/setup
      when: core == 'oai' or ran == 'oai'
    - role: 5g/oai/core
      when: core == 'oai'
    - role: 5g/oai/ran
      when: ran == 'oai'

- name: Deploy srsRAN
  hosts: ran_node
  vars:
    ue_count: 4
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
  roles:
    - role: 5g/srsRAN
      when: ran == 'srsRAN'

############################################################################
# Move this block where you want to restart with start-at-task=RESTART_HERE"
#
- hosts: localhost,core_node,ran_node
  gather_facts: false
  tasks:
    - name: RESTART_HERE
      ansible.builtin.meta: noop

    - import_tasks: ../tasks/reload_booleans.yml
#
############################################################################




- name: Remove NoSchedule taint on Monitor node
  hosts: core_node
  become: true
  roles:
    - role: setup/k8s/remove_taint
      vars:
        target_node: "{{ monitor_node_name }}"
      when: core_node_name != ran_node_name

- name: 5G-Monarch Final Operations
  hosts: monitor_node
  tasks:
    - name: Launch monitoring for OAI
      include_role:
        name: monarch/monitoring
      vars:
        set_gnb_monitoring: true
      when: monitoring_enabled and ran == 'oai'

    - name: Launch monitoring for srsRAN
      include_role:
        name: monarch/monitoring
      when: monitoring_enabled and ran == 'srsRAN'
