---
- name: Load hostvars for selected node
  hosts: "{{ node }}"
  gather_facts: false
  tasks: []
  
- name: Run POS for selected node
  hosts: webshell
  gather_facts: false
  vars:
    node: "{{ node }}"
  tasks:

    - name: Run POS role for {{ node }}
      include_role:
        name: pos
