---
- hosts: all
  gather_facts: true
  tasks:
    - name: Normalize booleans at playbook start
      import_tasks: ../tasks/reload_booleans.yml


- name: Run iperf servers on Core node and optionally run NR-UE tests
  hosts: core_node
  become: true
  vars:
    duration: 12
    sleep: 5
    ignore_errors: yes
    nb_ues: "{{ 3 if rru == 'rfsim' else groups['qhats'] | length }}"
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"

  roles:
    - role: scenarios/iperf_server
    - role: scenarios/iperf/nr-ue-to-core_node
      when: rru == "rfsim"

- name: Run UE-to-core iperf tests from Faraday
  hosts: faraday
  vars:
    duration: 12
    sleep: 5
    ignore_errors: yes
    nb_ues: "{{ groups['qhats'] | length }}"
    core_ip: "{{ hostvars[groups['core_node'][0]].ip }}"

  roles:
    - role: scenarios/iperf/ue-to-core_node
      when: rru != "rfsim"
