---
# This test runs iperf between the first UE on the list and its UPF

- name: Prepare UE info
  hosts: faraday
  gather_facts: false
  vars:
    fiveg_profile: default
  tasks:
    - name: Initialize UE-related variables
      set_fact:
        ue_name: "{{ groups['qhats'][0] }}"

    - name: Load active 5G profile
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
        name: fiveg

    - name: Validate if UE exists in 5G profile
      fail:
        msg: "UE {{ ue_name }} not found in 5G profile"
      when: ue_name not in fiveg.ues

    - name: Get slice name associated with UE
      set_fact:
        ue_slice: "{{ fiveg.ues[ue_name].slice }}"

    - name: Validate slice exists
      fail:
        msg: "Slice {{ ue_slice }} not found in fiveg.slices"
      when: fiveg.slices | selectattr('name', 'equalto', ue_slice) | length == 0

    - name: Get IP prefix of UE slice to find out the UPF IP
      set_fact:
        ue_ip_prefix: >-
          {{
            (fiveg.slices
             | selectattr('name', 'equalto', ue_slice)
             | first).ip_prefix
          }}
        ue_upf_ip: "{{ ue_ip_prefix }}.1"

- name: Run iperf test
  hosts: faraday
  gather_facts: false
  tasks:
    - name: Start bidirectional iperf3 on first UE in background for 5 minutes
      shell: >
        ssh root@{{ ue_name }}
        'iperf3 -c {{ ue_upf_ip }} --bidir -t 300 -J log_interference_test.json'
      async: 1800
      poll: 0
      register: iperf_job

    - name: Wait 100 seconds before running noise generator
      wait_for:
        timeout: 100

- name: Run noise generator from fit node for 100 seconds
  hosts: faraday
  vars:
    node: "{{ hostvars[groups['faraday'][0]].interference_usrp }}"
    time: 100
  tasks:
    - name: Run interference role if USRP type is n300/n320
      include_role:
        name: scenarios/interference/run
      when: hostvars[groups['faraday'][0]].interference_usrp in ['n300', 'n320']

- name: Wait for iperf job to finish
  hosts: faraday
  gather_facts: false
  tasks:
    - name: Wait for iperf job
      async_status:
        jid: "{{ iperf_job.ansible_job_id }}"
      register: result
      until: result.finished
      retries: 100
      delay: 10

