---
- name: Load hostvars for selected node
  hosts: "{{ node }}"
  gather_facts: false
  vars:
    original_inventory: "{{ original_inventory | default(omit) }}"
  tasks: []

- name: Run POS for selected node
  hosts: webshell
  gather_facts: no
  vars:
    target_node: "{{ node }}"
  tasks:
    - name: Prepare pos vars for node {{ target_node }}
      set_fact:
        node: "{{ target_node }}"

    - name: Run POS role on {{ target_node }}
      include_role:
        name: pos