---
- name: Start iperf test scenario
  hosts: faraday
  become: true
  vars:
    duration: 12
    sleep: 5
    ignore_errors: yes
    nb_ues: "{{ 3 if rru == 'rfsim' else groups['qhats'] | length }}"

  roles:
    - role: scenarios/iperf_server
      vars:
        nb_ues: "{{ nb_ues }}"

  tasks:
    - name: Include NR-UE to core_node iperf role if rru is rfsim
      include_role:
        name: scenarios/iperf/nr-ue-to-core_node
      when: rru == "rfsim"

    - name: Include UE to core_node iperf role if rru is not rfsim
      include_role:
        name: scenarios/iperf/ue-to-core_node
      when: rru != "rfsim"