---
- hosts: webshell
  gather_facts: false
  tasks:
    - name: Merge node-specific variables for POS
      set_fact:
        pos_vars: >-
          {{
            hostvars[node]
            | combine({'node': node})
            | combine({'rru': (hostvars[groups['faraday'][0]].rru | default('unknown'))})
          }}

    - name: Run POS role on {{ node }}
      include_role:
        name: pos
      vars: "{{ pos_vars | from_yaml }}"
