---
- hosts: webshell
  gather_facts: false
  tasks:
    - name: Préparer les variables pour le rôle POS
      set_fact:
        pos_vars: "{{ hostvars[node] | combine({'node': node}) | combine({'rru': (hostvars[groups['faraday'][0]].rru | default('unknown'))}) }}"

    - name: Exécuter le rôle POS pour {{ node }}
      include_role:
        name: pos
      vars: "{{ pos_vars }}"
