---
- hosts: webshell
  gather_facts: false
  tasks:
    - name: Prepare pos vars for node {{ node }}
      set_fact:
        pos_node: "{{ node }}"
        pos_ansible_user: "{{ hostvars[node].ansible_user | default('') }}"
        pos_ran_boot_mode: "{{ hostvars[node].ran_boot_mode | default('') }}"
        pos_rru: >-
          {{ (groups['faraday'] is defined and hostvars[groups['faraday'][0]].rru is defined)
             | ternary(hostvars[groups['faraday'][0]].rru, 'unknown') }}
      vars:
        node: "{{ node }}"
      delegate_to: localhost
      run_once: true

    - name: Run POS role on {{ node }}
      include_role:
        name: pos
      vars:
        node: "{{ pos_node }}"
        ansible_user: "{{ pos_ansible_user }}"
        ran_boot_mode: "{{ pos_ran_boot_mode }}"
        rru: "{{ pos_rru }}"

