---
- name: Start iperf test scenario
  hosts: core_node
  become: true
  vars:
    duration: 12
    sleep: 5
    ignore_errors: yes

  tasks:
    - name: Set nb_ues if rru != rfsim
      set_fact:
        nb_ues: "{{ groups['qhats'] | length }}"
      when: rru != "rfsim"

  roles:
    - role: scenarios/iperf_server
      vars:
        nb_ues: "{{ nb_ues | default(3) }}"

  tasks:
    - name: Include NR-UE to core_node iperf role if rru is rfsim
      include_role:
        name: scenarios/iperf/nr-ue-to-core_node
      when: rru == "rfsim"

    - name: Include UE to core_node iperf role if rru is not rfsim
      include_role:
        name: scenarios/iperf/ue-to-core_node
      when: rru != "rfsim"