- name: Deploy OAI CN and RAN
  hosts: ran_node
  gather_facts: true
  roles:
    - role: 5g/oai/setup
      when: core == 'oai' or ran == 'oai'
    - role: 5g/oai/config
      when: core == 'oai' or ran == 'oai'
