- name: Deploy Open5GS CN
  hosts: core_node
  pre_tasks:
    - name: Load 5G profile
      include_vars:
        file: "{{ playbook_dir }}/../group_vars/all/5g_profile_{{ fiveg_profile | default('default') }}.yaml"
  roles:
    - role: 5g/open5gs/fiveg_profile
      when: core == 'open5gs'
    - role: 5g/open5gs/open5gs_repo
      when: core == 'open5gs'
    - role: 5g/open5gs/open5gs_config
      when: core == 'open5gs'
