---
- name: RESTART_UE_SETUP
  ansible.builtin.meta: noop

- name: Load active 5G profile variables
  ansible.builtin.include_vars:
    file: "{{ playbook_dir }}/group_vars/all/5g_profile_{{ fiveg_profile }}.yml"

- name: Load active 5G profile variables
  ansible.builtin.include_vars:
    file: "{{ playbook_dir }}/group_vars/all/5g_profile_{{ fiveg_profile }}.yml"

- name: Power ON UEs PDU outlet
  shell: rhubarbe pdu on "{{ item }}"
  delegate_to: faraday.inria.fr
  async: 1800
  poll: 0
  loop: "{{ groups['qhats'] }}"
  loop_control:
    label: "{{ item }}"
  register: power_ue_jobs

- name: Wait for all UEs to be turned ON
  async_status:
    jid: "{{ item.ansible_job_id }}"
  register: job_result
  until: job_result.finished
  retries: 100
  delay: 10
  loop: "{{ power_ue_jobs.results }}"
  loop_control:
    label: "{{ item.item }}"

- name: Wait for UEs to be SSH accessible
  wait_for:
    host: "{{ item }}"
    port: 22
    timeout: 180
    sleep: 5
  delegate_to: faraday.inria.fr
  loop: "{{ groups['qhats'] }}"
  loop_control:
    label: "{{ item }}"
  register: power_ue_jobs

- name: Init UEs via jump host using 5G profile from YAML
  shell: |
    ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=5 -n root@{{ item }} \
      'qhat-init --mode={{ hostvars[item].mode | default("default") }} \
      --dnn="{{ slices | selectattr("name","equalto",ues[item].slice) | map(attribute="dnn") | first }}" \
      --nssai="{{ slices | selectattr("name","equalto",ues[item].slice) | map(attribute="sst") | first }}:{{ slices | selectattr("name","equalto",ues[item].slice) | map(attribute="sd") | first }}"'
    ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=5 -n root@{{ item }} 'stop.sh'
  delegate_to: faraday.inria.fr
  async: 1800
  poll: 0
  loop: "{{ groups['qhats'] }}"
  loop_control:
    label: "{{ item }}"
  register: set_ue_jobs

- name: Wait for setup to finish on all UEs
  async_status:
    jid: "{{ item.ansible_job_id }}"
  register: job_result
  until: job_result.finished
  retries: 100
  delay: 10
  loop: "{{ set_ue_jobs.results }}"
  loop_control:
    label: "{{ item.item }}"
  