---
- name: Set {{ groups['core_node'][0] }} clock to match {{ groups['ran_node'][0] }}
  block:
    - name: Disable NTP via timedatectl
      ansible.builtin.command: timedatectl set-ntp false
      changed_when: false
    - name: Fetch current date from {{ groups['ran_node'][0] }}
      command: ssh {{ groups['ran_node'][0] }} date --iso-8601=seconds
      delegate_to: localhost
      register: f3_date
      changed_when: false
    - name: Set {{ groups['core_node'][0] }} date to match {{ groups['ran_node'][0] }}
      command: ssh {{ groups['core_node'][0] }} sudo date --set "{{ f3_date.stdout }}"
      delegate_to: localhost
      changed_when: true
