---
- name: Configure PTP on sopnode-f1 to sync with sopnode-f3
  block:
    - name: Install linuxptp
      apt:
        name: linuxptp
        state: present
        update_cache: yes
    - name: Stop and disable chrony to avoid conflicts
      service:
        name: chrony
        state: stopped
        enabled: no
      ignore_errors: yes
    - name: Create ptp4l configuration for sopnode-f3
      copy:
        content: |
          [global]
          serverOnly 0
          clientOnly 1
          domainNumber 0
          time_stamping hardware
          [ens21f0]
          network_transport UDP
          masterOnly 0
        dest: /etc/linuxptp/ptp4l.conf
        mode: '0644'
    - name: Start and enable ptp4l service
      service:
        name: ptp4l
        state: started
        enabled: yes
    - name: Start and enable phc2sys service
      service:
        name: phc2sys
        state: started
        enabled: yes
  become: yes
