---
- name: Turn ON node {{ fit_node }}
  shell: rhubarbe load -i gnuradio {{ fit_number }}
  delegate_to: faraday.inria.fr

- name: Wait for the node {{ fit_node }} to be SSH accessible
  wait_for:
    host: "{{ fit_node }}"
    port: 22
    timeout: 60
    sleep: 5
  delegate_to: faraday.inria.fr

# rhubarbe wait has issues and fails now with non-zero return code now...
#- name: Wait for the node to be ssh ready
#  shell: rhubarbe wait {{ fit_number }}
#  delegate_to: faraday.inria.fr

- name: Turn ON USRP {{ fit_usrp }} on node {{ fit_node }}
  shell: rhubarbe usrpon {{ fit_number }}
  delegate_to: faraday.inria.fr

- name: Wait 60 seconds for the USRP to be ready
  pause:
    seconds: 60

